.spinner {
  display: flex;
  flex-direction: column;
  /* height: 95%;
  width: 100%; */
  align-items: center;
  justify-content: center;
}

.spinner__text {
  color: #0066ff;
}

.spinner__main {
  width: 60px;
  height: 20px;
  --c: radial-gradient(farthest-side, #0066ff 93%, #0000);
  background: var(--c) 0 0, var(--c) 50% 0, var(--c) 100% 0;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  position: relative;
  animation: db4-0 1s linear infinite alternate;
}
.spinner__main:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #0066ff;
  left: 0;
  top: 0;
  animation: db4-1 1s linear infinite alternate,
    db4-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}

@keyframes db4-0 {
  0% {
    background-position: 0 100%, 50% 0, 100% 0;
  }
  8%,
  42% {
    background-position: 0 0, 50% 0, 100% 0;
  }
  50% {
    background-position: 0 0, 50% 100%, 100% 0;
  }
  58%,
  92% {
    background-position: 0 0, 50% 0, 100% 0;
  }
  100% {
    background-position: 0 0, 50% 0, 100% 100%;
  }
}

@keyframes db4-1 {
  100% {
    left: calc(100% - 8px);
  }
}

@keyframes db4-2 {
  100% {
    top: -0.1px;
  }
}
